<nav>
  <!-- <h1>Hi.</h1> -->
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/assets/photo.jpg" id="logo" alt="My photo"/>
    {% endif %}
  </a>
  <h2>{{ site.data.theme.name }}</h2>
  <div id="nav">
    <ul>
      <li><a href="google.com">Blog</a></li>
      <li><a href="google.com">About</a></li>
      <li><a href="google.com">Contact</a></li>
    </ul>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
