<div>
  <ul id="sites">
    <!-- About page -->
    <li><a title="about" href="/about">about</a></li>
    <li>&#45;</li>
    <!-- Twitter -->
    {% if site.data.theme.social.twitter %}
    <li><a title="{{ site.data.theme.social.twitter }} on Twitter" target="_blank" href="https://twitter.com/{{ site.data.theme.social.twitter }}">
    <!-- <i class="fa fa-twitter-square"></i> -->twitter
    </a></li>
    {% endif %}
    <li>&#45;</li>
    <!-- GitHub -->
    {% if site.data.theme.social.github %}
    <li><a title="{{ site.data.theme.social.github }} on Github" target="_blank" href="https://github.com/{{ site.data.theme.social.github }}">
      <!-- <i class="fa fa-github-square"></i> -->github
    </a></li>
    {% endif %}
  </ul>
</div>
