/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

#logo {
	max-width: 96px;
	max-height: 96px;
	border-radius: 10px;
}

.content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mobilebar {
	position: fixed;
	display: none;
	padding-right: 100%;
	padding-left: 40px;
	width: 105%;
	/*margin-left: -35px;*/
	margin-top: -10px;
}

@media only screen and (min-width: 1200px) {
	#post {
		margin-right: -200px;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
	#post {
		margin-right: -100px;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1100px) {
	.content {
		padding-left: 20px;
	}
	#logo {
		font-size: 21px;
		margin-bottom: 15px; }
	nav .button {
		padding: 9px 20px 11px; }
	#navigation {
		margin-left: 5px;
	}
	#post {
		margin-right: 0;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 980px) {
	nav {
		width: 160px;
	}
	.content {
		padding-right: 100%;
		padding-left: 10px;
		width: 100%;
	}
	.container {
		width: 100%;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	header h1 { font-size: 34px; line-height: 37px; }
	nav { position: relative; }
	nav ul,
	#logo { text-align: left; }
	.sidebar {
		display: none;
	}
	.container {
		margin-left: 1.5em;
		width: 100%;
	}
	.content {
		border: 0px;
		padding-right: 100%;
		padding-top: 6rem;
		width: 100%;
		overflow-x: hidden;
	}
	#post {
		padding-bottom: 8rem;
	}
	.mobilebar {
		display: block;
		background: #fdfdfd;
		border-bottom: 1px solid #ddd;
		z-index: 999;
	}
	#logo {
		display: none;
	}
	.mobile {
		display: block;
	}
	#posts {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidebar {
		display: none;
	}
	h1 {
		font-size: 28px;
		line-height: 36px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.sidebar {
		display: none;
	}
	.content {
		margin-top: 20px;
		padding-left: 5px;
	}
	#post {
		margin-right: -3rem;
	}
	h1 {
		font-size: 24px;
		line-height: 32px;
	}
	h2 {
		font-size: 22px;
		line-height: 24px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 414px) {
	.sidebar {
		display: none;
	}
	.content {
		margin-top: 20px;
		padding-left: 5px;
	}
	#post {
		margin-right: -0.8rem;
	}
	h1 {
		font-size: 24px;
		line-height: 32px;
	}
	h2 {
		font-size: 22px;
		line-height: 24px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {
	.sidebar {
		display: none;
	}
	.content {
		margin-top: 20px;
		padding-left: 5px;
	}
	#post {
		margin-right: 2rem;
	}
	h1 {
		font-size: 24px;
		line-height: 32px;
	}
	h2 {
		font-size: 22px;
		line-height: 24px;
	}
}