<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.data.theme.name }}" />
  <meta name="description" content="The blog of {{ site.data.theme.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <!-- <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css"> -->
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <script type="text/javascript">
    var loadCss = document.createElement('link');
    loadCss.setAttribute("rel", "stylesheet");
    loadCss.setAttribute("href","/assets/css/all.css");
    loadCss.setAttribute("type","text/css");      

    var loadFA = document.createElement('link');
    loadFA.setAttribute("rel", "stylesheet");
    loadFA.setAttribute("href", "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
    loadFA.setAttribute("type", "text/css");

    var head = document.getElementsByTagName('head')[0];
    head.appendChild(loadCss);
    head.appendChild(loadFA);
  </script>
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />

<!--   <link rel="stylesheet" href="/assets/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 --></head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
    <!-- <div id="name">Mark Silvis</div> -->
      <div id="mobilenav" class="mobile">
        <ul>
          <li><a href="/">BLOG</a></li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
      </div>
      {{ content }}
    </div>

    <div class="footer">
      {% include footer.html %}
    </div>
  </div>

<!-- {% include analytics.html %} -->
</body>
</html>
