---
layout: default
---

<h1 class="title">{{ page.title }}</h1>
<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
</p>
<br/>

<div id="post">
  {{ content }}
  {% if site.data.theme.sharing %}
    <br />
    <p id="share">Share <a href="http://www.twitter.com/share?url={{site.url}}{{page.url}}"><i class="fa fa-twitter-square"></i>  </a> 
              <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"><i class="fa fa-facebook-square"></i></a>
              <a href="mailto:?body=Check out this article: {{site.url}}{{page.url}}"><i class="fa fa-envelope-square"></i></a>
    </p> 
  {% endif %}
</div>
{% include disqus.html %}
